@layer theme, base, components, utilities;
@layer components {
    .accordion {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .accordion-item:not(*:last-child) {
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 1px;
    }
    .accordion-trigger-flex {
        display: flex;
    }
    .accordion-trigger-group {
        position: relative;
        display: flex;
        flex: 1;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: calc(var(--radius) * 0.8);
        border-style: var(--tw-border-style);
        border-width: 1px;
        border-color: transparent;
        padding-block: calc(var(--spacing) * 4);
        text-align: left;
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        --tw-font-weight: var(--font-weight-medium);
        font-weight: var(--font-weight-medium);
        transition-property: all;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
        --tw-outline-style: none;
        outline-style: none;
    }
    @media (hover: hover) {
        .accordion-trigger-group:hover {
            text-decoration-line: underline
        }
        .accordion-content-h a:hover {
            color: var(--foreground)
        }
    }
    .accordion-trigger-group:focus-visible {
        border-color: var(--ring);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        --tw-ring-color: var(--ring);
    }
    @supports (color: color-mix(in lab, red, red)) {
        .accordion-trigger-group:focus-visible {
            --tw-ring-color: color-mix(in oklab, var(--ring) 50%, transparent)
        }
    }
    .accordion-trigger-group:focus-visible::after {
        content: var(--tw-content);
        border-color: var(--ring);
    }
    .accordion-trigger-group[aria-disabled="true"] {
        pointer-events: none;
        opacity: 50%;
    }
    :is(.accordion-trigger-group *)[data-slot="accordion-trigger-icon"] {
        margin-left: auto;
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
        color: var(--muted-foreground);
    }
    .accordion-trigger-pointer {
        pointer-events: none;
        flex-shrink: 0;
    }
    .accordion-trigger-pointer:is(:where(.accordion-trigger-group)[aria-expanded="true"] *) {
        display: none;
    }
    .accordion-trigger-pointer-events {
        pointer-events: none;
        display: none;
        flex-shrink: 0;
    }
    .accordion-trigger-pointer-events:is(:where(.accordion-trigger-group)[aria-expanded="true"] *) {
        display: inline;
    }
    .accordion-content-overflow {
        overflow: hidden;
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
    }
    .accordion-content-overflow:where([data-state="open"]), .accordion-content-overflow:where([data-open]:not([data-open="false"])) {
        animation: accordion-down var(--tw-animation-duration,var(--tw-duration,.2s))var(--tw-ease,ease-out)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
    }
    .accordion-content-overflow:where([data-state="closed"]), .accordion-content-overflow:where([data-closed]:not([data-closed="false"])) {
        animation: accordion-up var(--tw-animation-duration,var(--tw-duration,.2s))var(--tw-ease,ease-out)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
    }
    .accordion-content-h {
        height: var(--accordion-panel-height);
        padding-top: calc(var(--spacing) * 0);
        padding-bottom: calc(var(--spacing) * 4);
    }
    .accordion-content-h[data-ending-style] {
        height: calc(var(--spacing) * 0);
    }
    .accordion-content-h[data-starting-style] {
        height: calc(var(--spacing) * 0);
    }
    .accordion-content-h a {
        text-decoration-line: underline;
        text-underline-offset: 3px;
    }
    .accordion-content-h p:not(:last-child) {
        margin-bottom: calc(var(--spacing) * 4);
    }
}