@layer properties, theme, base, components, utilities;
@layer components {
    .breadcrumb-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: calc(var(--spacing) * 1.5);
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        overflow-wrap: break-word;
        color: var(--muted-foreground);
    }
    @media (width >= 40rem) {
        .breadcrumb-list {
            gap: calc(var(--spacing) * 2.5)
        }
    }
    .breadcrumb-item {
        display: inline-flex;
        align-items: center;
        gap: calc(var(--spacing) * 1.5);
    }
    .breadcrumb-link {
        transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
    }
    @media (hover: hover) {
        .breadcrumb-link:hover {
            color: var(--foreground)
        }
    }
    .breadcrumb-page {
        --tw-font-weight: var(--font-weight-normal);
        font-weight: var(--font-weight-normal);
        color: var(--foreground);
    }
    .breadcrumb-separator>svg {
        width: calc(var(--spacing) * 3.5);
        height: calc(var(--spacing) * 3.5);
    }
    .breadcrumb-ellipsis-flex {
        display: flex;
        width: calc(var(--spacing) * 5);
        height: calc(var(--spacing) * 5);
        align-items: center;
        justify-content: center;
    }
    .breadcrumb-ellipsis-flex>svg {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
    }
    .breadcrumb-ellipsis-sr {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip-path: inset(50%);
        white-space: nowrap;
        border-width: 0;
    }
}