.dropdown-menu-content-isolate {
    isolation: isolate;
    z-index: 50;
    --tw-outline-style: none;
    outline-style: none;
}
.dropdown-menu-content-z {
    z-index: 50;
    max-height: var(--available-height);
    width: var(--anchor-width);
    min-width: calc(var(--spacing) * 32);
    transform-origin: var(--transform-origin);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: calc(var(--radius) * 0.8);
    background-color: var(--popover);
    padding: calc(var(--spacing) * 1);
    color: var(--popover-foreground);
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    --tw-ring-color: var(--foreground);
    --tw-duration: 100ms;
    transition-duration: 100ms;
    --tw-outline-style: none;
    outline-style: none;
}
@supports (color: color-mix(in lab, red, red)) {
    .dropdown-menu-content-z {
        --tw-ring-color: color-mix(in oklab, var(--foreground) 10%, transparent)
    }
}
.dropdown-menu-content-z[data-side="bottom"] {
    --tw-enter-translate-y: calc(2*var(--spacing)*-1);
}
.dropdown-menu-content-z[data-side="inline-end"] {
    --tw-enter-translate-x: calc(2*var(--spacing)*-1);
}
.dropdown-menu-content-z[data-side="inline-start"] {
    --tw-enter-translate-x: calc(2*var(--spacing));
}
.dropdown-menu-content-z[data-side="left"] {
    --tw-enter-translate-x: calc(2*var(--spacing));
}
.dropdown-menu-content-z[data-side="right"] {
    --tw-enter-translate-x: calc(2*var(--spacing)*-1);
}
.dropdown-menu-content-z[data-side="top"] {
    --tw-enter-translate-y: calc(2*var(--spacing));
}
.dropdown-menu-content-z:where([data-state="open"]), .dropdown-menu-content-z:where([data-open]:not([data-open="false"])) {
    animation: enter var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
    --tw-enter-opacity: calc(0/100);
    --tw-enter-opacity: 0;
    --tw-enter-scale: calc(95*1%);
    --tw-enter-scale: .95;
}
.dropdown-menu-content-z:where([data-state="closed"]), .dropdown-menu-content-z:where([data-closed]:not([data-closed="false"])) {
    animation: exit var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
    overflow: hidden;
    --tw-exit-opacity: calc(0/100);
    --tw-exit-opacity: 0;
    --tw-exit-scale: calc(95*1%);
    --tw-exit-scale: .95;
}
.dropdown-menu-label {
    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 1.5);
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    color: var(--muted-foreground);
}
.dropdown-menu-label[data-inset] {
    padding-left: calc(var(--spacing) * 8);
}
.dropdown-menu-item {
    position: relative;
    display: flex;
    cursor: default;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    border-radius: calc(var(--radius) * 0.6);
    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 1.5);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-outline-style: none;
    outline-style: none;
    -webkit-user-select: none;
    user-select: none;
}
@media (forced-colors: active) {
    .dropdown-menu-item {
        outline: 2px solid transparent;
        outline-offset: 2px
    }
    .dropdown-menu-sub-trigger-flex {
        outline: 2px solid transparent;
        outline-offset: 2px
    }
    .dropdown-menu-checkbox-item-relative {
        outline: 2px solid transparent;
        outline-offset: 2px
    }
    .dropdown-menu-radio-item-relative {
        outline: 2px solid transparent;
        outline-offset: 2px
    }
}
.dropdown-menu-item:focus {
    background-color: var(--accent);
    color: var(--accent-foreground);
}
:is(.dropdown-menu-item:not(*[data-variant="destructive"]):focus *) {
    color: var(--accent-foreground);
}
.dropdown-menu-item[data-inset] {
    padding-left: calc(var(--spacing) * 8);
}
.dropdown-menu-item[data-variant="destructive"] {
    color: var(--destructive);
}
.dropdown-menu-item[data-variant="destructive"]:focus {
    background-color: var(--destructive);
    color: var(--destructive);
}
@supports (color: color-mix(in lab, red, red)) {
    .dropdown-menu-item[data-variant="destructive"]:focus {
        background-color: color-mix(in oklab, var(--destructive) 10%, transparent)
    }
}
:is(.dropdown-menu-item[data-variant="destructive"] > *):is(svg) {
    color: var(--destructive);
}
.dropdown-menu-item:is(:global(.dark) *)[data-variant="destructive"]:focus {
    background-color: var(--destructive);
}
@supports (color: color-mix(in lab, red, red)) {
    .dropdown-menu-item:is(:global(.dark) *)[data-variant="destructive"]:focus {
        background-color: color-mix(in oklab, var(--destructive) 20%, transparent)
    }
}
.dropdown-menu-item:where([data-disabled="true"]), .dropdown-menu-item:where([data-disabled]:not([data-disabled="false"])) {
    pointer-events: none;
    opacity: 50%;
}
.dropdown-menu-item svg {
    pointer-events: none;
    flex-shrink: 0;
}
.dropdown-menu-item svg:not([class*='size-']) {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
}
.dropdown-menu-sub-trigger-flex {
    display: flex;
    cursor: default;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    border-radius: calc(var(--radius) * 0.6);
    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 1.5);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-outline-style: none;
    outline-style: none;
    -webkit-user-select: none;
    user-select: none;
}
.dropdown-menu-sub-trigger-flex:focus {
    background-color: var(--accent);
    color: var(--accent-foreground);
}
:is(.dropdown-menu-sub-trigger-flex:not(*[data-variant="destructive"]):focus *) {
    color: var(--accent-foreground);
}
.dropdown-menu-sub-trigger-flex[data-inset] {
    padding-left: calc(var(--spacing) * 8);
}
.dropdown-menu-sub-trigger-flex[data-popup-open] {
    background-color: var(--accent);
    color: var(--accent-foreground);
}
.dropdown-menu-sub-trigger-flex:where([data-state="open"]), .dropdown-menu-sub-trigger-flex:where([data-open]:not([data-open="false"])) {
    background-color: var(--accent);
    color: var(--accent-foreground);
}
.dropdown-menu-sub-trigger-flex svg {
    pointer-events: none;
    flex-shrink: 0;
}
.dropdown-menu-sub-trigger-flex svg:not([class*='size-']) {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
}
.dropdown-menu-sub-trigger-ml {
    margin-left: auto;
}
.dropdown-menu-sub-content {
    width: auto;
    min-width: 96px;
    border-radius: calc(var(--radius) * 0.8);
    background-color: var(--popover);
    padding: calc(var(--spacing) * 1);
    color: var(--popover-foreground);
    --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 4px 6px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    --tw-ring-color: var(--foreground);
    --tw-duration: 100ms;
    transition-duration: 100ms;
}
@supports (color: color-mix(in lab, red, red)) {
    .dropdown-menu-sub-content {
        --tw-ring-color: color-mix(in oklab, var(--foreground) 10%, transparent)
    }
}
.dropdown-menu-sub-content[data-side="bottom"] {
    --tw-enter-translate-y: calc(2*var(--spacing)*-1);
}
.dropdown-menu-sub-content[data-side="left"] {
    --tw-enter-translate-x: calc(2*var(--spacing));
}
.dropdown-menu-sub-content[data-side="right"] {
    --tw-enter-translate-x: calc(2*var(--spacing)*-1);
}
.dropdown-menu-sub-content[data-side="top"] {
    --tw-enter-translate-y: calc(2*var(--spacing));
}
.dropdown-menu-sub-content:where([data-state="open"]), .dropdown-menu-sub-content:where([data-open]:not([data-open="false"])) {
    animation: enter var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
    --tw-enter-opacity: calc(0/100);
    --tw-enter-opacity: 0;
    --tw-enter-scale: calc(95*1%);
    --tw-enter-scale: .95;
}
.dropdown-menu-sub-content:where([data-state="closed"]), .dropdown-menu-sub-content:where([data-closed]:not([data-closed="false"])) {
    animation: exit var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
    --tw-exit-opacity: calc(0/100);
    --tw-exit-opacity: 0;
    --tw-exit-scale: calc(95*1%);
    --tw-exit-scale: .95;
}
.dropdown-menu-checkbox-item-relative {
    position: relative;
    display: flex;
    cursor: default;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    border-radius: calc(var(--radius) * 0.6);
    padding-block: calc(var(--spacing) * 1.5);
    padding-right: calc(var(--spacing) * 8);
    padding-left: calc(var(--spacing) * 2);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-outline-style: none;
    outline-style: none;
    -webkit-user-select: none;
    user-select: none;
}
.dropdown-menu-checkbox-item-relative:focus {
    background-color: var(--accent);
    color: var(--accent-foreground);
}
:is(.dropdown-menu-checkbox-item-relative:focus *) {
    color: var(--accent-foreground);
}
.dropdown-menu-checkbox-item-relative[data-inset] {
    padding-left: calc(var(--spacing) * 8);
}
.dropdown-menu-checkbox-item-relative:where([data-disabled="true"]), .dropdown-menu-checkbox-item-relative:where([data-disabled]:not([data-disabled="false"])) {
    pointer-events: none;
    opacity: 50%;
}
.dropdown-menu-checkbox-item-relative svg {
    pointer-events: none;
    flex-shrink: 0;
}
.dropdown-menu-checkbox-item-relative svg:not([class*='size-']) {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
}
.dropdown-menu-checkbox-item-pointer {
    pointer-events: none;
    position: absolute;
    right: calc(var(--spacing) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu-radio-item-relative {
    position: relative;
    display: flex;
    cursor: default;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    border-radius: calc(var(--radius) * 0.6);
    padding-block: calc(var(--spacing) * 1.5);
    padding-right: calc(var(--spacing) * 8);
    padding-left: calc(var(--spacing) * 2);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-outline-style: none;
    outline-style: none;
    -webkit-user-select: none;
    user-select: none;
}
.dropdown-menu-radio-item-relative:focus {
    background-color: var(--accent);
    color: var(--accent-foreground);
}
:is(.dropdown-menu-radio-item-relative:focus *) {
    color: var(--accent-foreground);
}
.dropdown-menu-radio-item-relative[data-inset] {
    padding-left: calc(var(--spacing) * 8);
}
.dropdown-menu-radio-item-relative:where([data-disabled="true"]), .dropdown-menu-radio-item-relative:where([data-disabled]:not([data-disabled="false"])) {
    pointer-events: none;
    opacity: 50%;
}
.dropdown-menu-radio-item-relative svg {
    pointer-events: none;
    flex-shrink: 0;
}
.dropdown-menu-radio-item-relative svg:not([class*='size-']) {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
}
.dropdown-menu-radio-item-pointer {
    pointer-events: none;
    position: absolute;
    right: calc(var(--spacing) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu-separator {
    margin-inline: calc(var(--spacing) * -1);
    margin-block: calc(var(--spacing) * 1);
    height: 1px;
    background-color: var(--border);
}
.dropdown-menu-shortcut {
    margin-left: auto;
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    --tw-tracking: var(--tracking-widest);
    letter-spacing: var(--tracking-widest);
    color: var(--muted-foreground);
}
.dropdown-menu-shortcut:is(:where(.dropdown-menu-item):focus *) {
    color: var(--accent-foreground);
}