@layer theme, base, components, utilities;
@layer components {
    .item-group {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: calc(var(--spacing) * 4);
    }
    .item-group:has(*[data-size="sm"]) {
        gap: calc(var(--spacing) * 2.5);
    }
    .item-group:has(*[data-size="xs"]) {
        gap: calc(var(--spacing) * 2);
    }
    .item-separator {
        margin-block: calc(var(--spacing) * 2);
    }
    .item {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        border-radius: calc(var(--radius) * 0.8);
        border-style: var(--tw-border-style);
        border-width: 1px;
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
        --tw-duration: 100ms;
        transition-duration: 100ms;
        --tw-outline-style: none;
        outline-style: none;
    }
    .item:focus-visible {
        border-color: var(--ring);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        --tw-ring-color: var(--ring);
    }
    @supports (color: color-mix(in lab, red, red)) {
        .item:focus-visible {
            --tw-ring-color: color-mix(in oklab, var(--ring) 50%, transparent)
        }
    }
    .item:is(a) {
        transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
    }
    @media (hover: hover) {
        .item:is(a):hover {
            background-color: var(--muted)
        }
    }
    .item-variant-default {
        border-color: transparent;
    }
    .item-variant-outline {
        border-color: var(--border);
    }
    .item-variant-muted {
        border-color: transparent;
        background-color: var(--muted);
    }
    @supports (color: color-mix(in lab, red, red)) {
        .item-variant-muted {
            background-color: color-mix(in oklab, var(--muted) 50%, transparent)
        }
    }
    .item-size-default {
        gap: calc(var(--spacing) * 3.5);
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 3.5);
    }
    .item-size-sm {
        gap: calc(var(--spacing) * 2.5);
        padding-inline: calc(var(--spacing) * 3);
        padding-block: calc(var(--spacing) * 2.5);
    }
    .item-size-xs {
        gap: calc(var(--spacing) * 2);
        padding-inline: calc(var(--spacing) * 2.5);
        padding-block: calc(var(--spacing) * 2);
    }
    :where(*[data-slot="dropdown-menu-content"]) .item-size-xs {
        padding: calc(var(--spacing) * 0);
    }
    .item-media {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        gap: calc(var(--spacing) * 2);
    }
    .item-media:is(:where(.item):has(*[data-slot="item-description"]) *) {
        --tw-translate-y: calc(var(--spacing) * 0.5);
        translate: var(--tw-translate-x) var(--tw-translate-y);
        align-self: flex-start;
    }
    .item-media svg {
        pointer-events: none;
    }
    .item-media-variant-default {
        background-color: transparent;
    }
    .item-media-variant-icon svg:not([class*='size-']) {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
    }
    .item-media-variant-image {
        width: calc(var(--spacing) * 10);
        height: calc(var(--spacing) * 10);
        overflow: hidden;
        border-radius: calc(var(--radius) * 0.6);
    }
    .item-media-variant-image:is(:where(.item)[data-size="sm"] *) {
        width: calc(var(--spacing) * 8);
        height: calc(var(--spacing) * 8);
    }
    .item-media-variant-image:is(:where(.item)[data-size="xs"] *) {
        width: calc(var(--spacing) * 6);
        height: calc(var(--spacing) * 6);
    }
    .item-media-variant-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .item-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: calc(var(--spacing) * 1);
    }
    .item-content:is(:where(.item)[data-size="xs"] *) {
        gap: calc(var(--spacing) * 0);
    }
    .item-content+[data-slot=item-content] {
        flex: none;
    }
    .item-title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        display: flex;
        width: fit-content;
        align-items: center;
        gap: calc(var(--spacing) * 2);
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        --tw-leading: var(--leading-snug);
        line-height: var(--leading-snug);
        --tw-font-weight: var(--font-weight-medium);
        font-weight: var(--font-weight-medium);
        text-underline-offset: 4px;
    }
    .item-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-align: left;
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        --tw-leading: var(--leading-normal);
        line-height: var(--leading-normal);
        --tw-font-weight: var(--font-weight-normal);
        font-weight: var(--font-weight-normal);
        color: var(--muted-foreground);
    }
    .item-description:is(:where(.item)[data-size="xs"] *) {
        font-size: var(--text-xs);
        line-height: var(--tw-leading, var(--text-xs--line-height));
    }
    .item-description>a {
        text-decoration-line: underline;
        text-underline-offset: 4px;
    }
    .item-description>a:hover {
        color: var(--primary);
    }
    .item-actions {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 2);
    }
    .item-header {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: space-between;
        gap: calc(var(--spacing) * 2);
    }
    .item-footer {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: space-between;
        gap: calc(var(--spacing) * 2);
    }
}