@layer properties, theme, base, components, utilities;
@layer components {
    .message-scroller {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        min-height: calc(var(--spacing) * 0);
        flex-direction: column;
        overflow: hidden;
    }
    .message-scroller-viewport {
        width: 100%;
        height: 100%;
        min-height: calc(var(--spacing) * 0);
        min-width: calc(var(--spacing) * 0);
        --_scroll-fade-size-b: var(
    --scroll-fade-b-size,
    var(--scroll-fade-size, min(12%, calc(var(--spacing) * 10)))
  );
        --scroll-fade-mask: linear-gradient(
    to bottom,
    #000 0,
    #000 calc(100% - var(--scroll-fade-b, 0px)),
    transparent 100%
  );
        -webkit-mask-image: var(--scroll-fade-mask);
        mask-image: var(--scroll-fade-mask);
        -webkit-mask-composite: source-in;
        mask-composite: intersect;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        overflow-y: auto;
        overscroll-behavior: contain;
        contain: content;
    }
    @supports (animation-timeline: scroll()) {
        .message-scroller-viewport {
            animation: scroll-fade-reveal-b 1ms ease-in-out;
            animation-timeline: scroll(self y);
            animation-range: calc( 100% - var(--scroll-fade-reveal, calc(var(--spacing) * 24)) ) 100%;
            animation-fill-mode: both;
        }
    }
    @supports not (animation-timeline: scroll()) {
        .message-scroller-viewport {
            --scroll-fade-b: var(--_scroll-fade-size-b);
        }
    }
    .message-scroller-content {
        display: flex;
        height: max-content;
        min-height: 100%;
        flex-direction: column;
        gap: calc(var(--spacing) * 8);
    }
    .message-scroller-item {
        min-width: calc(var(--spacing) * 0);
        flex-shrink: 0;
        contain-intrinsic-size: auto 10rem;
        content-visibility: auto;
    }
    .message-scroller-button-absolute {
        position: absolute;
        inset-inline-start: calc(1 / 2 * 100%);
        --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
        translate: var(--tw-translate-x) var(--tw-translate-y);
        border-color: var(--border);
        background-color: var(--background);
        color: var(--foreground);
        transition-property: translate,scale,opacity;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
        --tw-duration: 200ms;
        transition-duration: 200ms;
    }
    @media (hover: hover) {
        .message-scroller-button-absolute:hover {
            background-color: var(--muted);
            color: var(--foreground)
        }
    }
    .message-scroller-button-absolute[data-active="false"] {
        pointer-events: none;
        --tw-scale-x: 95%;
        --tw-scale-y: 95%;
        --tw-scale-z: 95%;
        scale: var(--tw-scale-x) var(--tw-scale-y);
        opacity: 0%;
        --tw-duration: 400ms;
        transition-duration: 400ms;
        --tw-ease: cubic-bezier(0.7,0,0.84,0);
        transition-timing-function: cubic-bezier(0.7,0,0.84,0);
    }
    .message-scroller-button-absolute[data-active="true"] {
        --tw-translate-y: calc(var(--spacing) * 0);
        translate: var(--tw-translate-x) var(--tw-translate-y);
        --tw-scale-x: 100%;
        --tw-scale-y: 100%;
        --tw-scale-z: 100%;
        scale: var(--tw-scale-x) var(--tw-scale-y);
        opacity: 100%;
        --tw-ease: cubic-bezier(0.23,1,0.32,1);
        transition-timing-function: cubic-bezier(0.23,1,0.32,1);
    }
    .message-scroller-button-absolute[data-direction="end"] {
        bottom: calc(var(--spacing) * 4);
    }
    .message-scroller-button-absolute[data-direction="end"][data-active="false"] {
        --tw-translate-y: 100%;
        translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .message-scroller-button-absolute[data-direction="start"] {
        top: calc(var(--spacing) * 4);
    }
    .message-scroller-button-absolute[data-direction="start"][data-active="false"] {
        --tw-translate-y: -100%;
        translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .message-scroller-button-absolute[data-direction="start"] svg {
        rotate: 180deg;
    }
    .message-scroller-button-absolute:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
        --tw-translate-x: calc(1 / 2 * 100%);
        translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .message-scroller-button-sr {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip-path: inset(50%);
        white-space: nowrap;
        border-width: 0;
    }
}