@layer properties, theme, base, components, utilities;
@layer components {
    .navigation-menu {
        position: relative;
        display: flex;
        max-width: max-content;
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    .navigation-menu-list {
        display: flex;
        flex: 1;
        list-style-type: none;
        align-items: center;
        justify-content: center;
        gap: calc(var(--spacing) * 0);
    }
    .navigation-menu-item {
        position: relative;
    }
    .navigation-menu-trigger-style {
        display: inline-flex;
        height: calc(var(--spacing) * 9);
        width: max-content;
        align-items: center;
        justify-content: center;
        border-radius: calc(var(--radius) * 0.8);
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 2);
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        --tw-font-weight: var(--font-weight-medium);
        font-weight: var(--font-weight-medium);
        transition-property: all;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
        --tw-outline-style: none;
        outline-style: none;
    }
    @media (hover: hover) {
        .navigation-menu-trigger-style:hover {
            background-color: var(--muted)
        }
        .navigation-menu-trigger-style[data-popup-open]:hover {
            background-color: var(--muted)
        }
        .navigation-menu-trigger-style:where([data-state="open"]):hover, .navigation-menu-trigger-style:where([data-open]:not([data-open="false"])):hover {
            background-color: var(--muted)
        }
        .navigation-menu-link:hover {
            background-color: var(--muted)
        }
        .navigation-menu-link[data-active="true"]:hover {
            background-color: var(--muted)
        }
    }
    .navigation-menu-trigger-style:focus {
        background-color: var(--muted);
    }
    .navigation-menu-trigger-style:focus-visible {
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        --tw-ring-color: var(--ring);
        outline-style: var(--tw-outline-style);
        outline-width: 1px;
    }
    @supports (color: color-mix(in lab, red, red)) {
        .navigation-menu-trigger-style:focus-visible {
            --tw-ring-color: color-mix(in oklab, var(--ring) 50%, transparent);
        }
    }
    .navigation-menu-trigger-style:disabled {
        pointer-events: none;
        opacity: 50%;
    }
    .navigation-menu-trigger-style[data-popup-open] {
        background-color: var(--muted);
    }
    @supports (color: color-mix(in lab, red, red)) {
        .navigation-menu-trigger-style[data-popup-open] {
            background-color: color-mix(in oklab, var(--muted) 50%, transparent)
        }
    }
    .navigation-menu-trigger-style:where([data-state="open"]), .navigation-menu-trigger-style:where([data-open]:not([data-open="false"])) {
        background-color: var(--muted);
    }
    @supports (color: color-mix(in lab, red, red)) {
        .navigation-menu-trigger-style:where([data-state="open"]), .navigation-menu-trigger-style:where([data-open]:not([data-open="false"])) {
            background-color: color-mix(in oklab, var(--muted) 50%, transparent)
        }
    }
    .navigation-menu-trigger-style:where([data-state="open"]):focus, .navigation-menu-trigger-style:where([data-open]:not([data-open="false"])):focus {
        background-color: var(--muted);
    }
    .navigation-menu-trigger-relative {
        position: relative;
        top: 1px;
        margin-left: calc(var(--spacing) * 1);
        width: calc(var(--spacing) * 3);
        height: calc(var(--spacing) * 3);
        transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
        --tw-duration: 300ms;
        transition-duration: 300ms;
    }
    .navigation-menu-trigger-relative:is(:where(.navigation-menu-trigger-style)[data-popup-open] *) {
        rotate: 180deg;
    }
    .navigation-menu-trigger-relative:is(:is(:where(.navigation-menu-trigger-style):where([data-state="open"]), :where(.navigation-menu-trigger-style):where([data-open]:not([data-open="false"]))) *) {
        rotate: 180deg;
    }
    .navigation-menu-content {
        height: 100%;
        width: auto;
        padding: calc(var(--spacing) * 2);
        padding-right: calc(var(--spacing) * 2.5);
        transition-property: opacity,transform,translate;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
        --tw-duration: 0.35s;
        transition-duration: 0.35s;
        --tw-ease: cubic-bezier(0.22,1,0.36,1);
        transition-timing-function: cubic-bezier(0.22,1,0.36,1);
    }
    .navigation-menu-content:is(:where(.navigation-menu)[data-viewport="false"] *) {
        border-radius: calc(var(--radius) * 0.8);
        background-color: var(--popover);
        color: var(--popover-foreground);
        --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        --tw-ring-color: var(--foreground);
        --tw-duration: 300ms;
        transition-duration: 300ms;
    }
    @supports (color: color-mix(in lab, red, red)) {
        .navigation-menu-content:is(:where(.navigation-menu)[data-viewport="false"] *) {
            --tw-ring-color: color-mix(in oklab, var(--foreground) 10%, transparent)
        }
    }
    .navigation-menu-content:is(:where(.navigation-menu)[data-viewport="false"] *):where([data-state="open"]), .navigation-menu-content:is(:where(.navigation-menu)[data-viewport="false"] *):where([data-open]:not([data-open="false"])) {
        animation: enter var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
        --tw-enter-opacity: calc(0/100);
        --tw-enter-opacity: 0;
        --tw-enter-scale: calc(95*1%);
        --tw-enter-scale: .95;
    }
    .navigation-menu-content:is(:where(.navigation-menu)[data-viewport="false"] *):where([data-state="closed"]), .navigation-menu-content:is(:where(.navigation-menu)[data-viewport="false"] *):where([data-closed]:not([data-closed="false"])) {
        animation: exit var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
        --tw-exit-opacity: calc(0/100);
        --tw-exit-opacity: 0;
        --tw-exit-scale: calc(95*1%);
        --tw-exit-scale: .95;
    }
    .navigation-menu-content[data-ending-style] {
        opacity: 0%;
    }
    .navigation-menu-content[data-starting-style] {
        opacity: 0%;
    }
    .navigation-menu-content[data-motion="from-end"] {
        --tw-enter-translate-x: calc(52*var(--spacing));
    }
    .navigation-menu-content[data-motion="from-start"] {
        --tw-enter-translate-x: calc(52*var(--spacing)*-1);
    }
    .navigation-menu-content[data-motion="to-end"] {
        --tw-exit-translate-x: calc(52*var(--spacing));
    }
    .navigation-menu-content[data-motion="to-start"] {
        --tw-exit-translate-x: calc(52*var(--spacing)*-1);
    }
    .navigation-menu-content[data-motion^="from-"] {
        animation: enter var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
        --tw-enter-opacity: 0;
    }
    .navigation-menu-content[data-motion^="to-"] {
        animation: exit var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
        --tw-exit-opacity: 0;
    }
    :is(.navigation-menu-content *)[data-slot="navigation-menu-link"]:focus {
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        --tw-outline-style: none;
        outline-style: none;
    }
    .navigation-menu-positioner-isolate {
        isolation: isolate;
        z-index: 50;
        height: var(--positioner-height);
        width: var(--positioner-width);
        max-width: var(--available-width);
        transition-property: top,left,right,bottom;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
        --tw-duration: 0.35s;
        transition-duration: 0.35s;
        --tw-ease: cubic-bezier(0.22,1,0.36,1);
        transition-timing-function: cubic-bezier(0.22,1,0.36,1);
    }
    .navigation-menu-positioner-isolate[data-instant] {
        transition-property: none;
    }
    .navigation-menu-positioner-isolate[data-side="bottom"]::before {
        content: var(--tw-content);
        top: -10px;
        right: calc(var(--spacing) * 0);
        left: calc(var(--spacing) * 0);
    }
    .navigation-menu-positioner-data {
        position: relative;
        height: var(--popup-height);
        width: var(--popup-width);
        transform-origin: var(--transform-origin);
        border-radius: var(--radius);
        background-color: var(--popover);
        color: var(--popover-foreground);
        --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        --tw-ring-color: var(--foreground);
        transition-property: opacity,transform,width,height,scale,translate;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
        --tw-duration: 0.35s;
        transition-duration: 0.35s;
        --tw-ease: cubic-bezier(0.22,1,0.36,1);
        transition-timing-function: cubic-bezier(0.22,1,0.36,1);
        --tw-outline-style: none;
        outline-style: none;
    }
    @supports (color: color-mix(in lab, red, red)) {
        .navigation-menu-positioner-data {
            --tw-ring-color: color-mix(in oklab, var(--foreground) 10%, transparent)
        }
    }
    .navigation-menu-positioner-data[data-ending-style] {
        --tw-scale-x: 90%;
        --tw-scale-y: 90%;
        --tw-scale-z: 90%;
        scale: var(--tw-scale-x) var(--tw-scale-y);
        opacity: 0%;
        --tw-duration: 150ms;
        transition-duration: 150ms;
    }
    .navigation-menu-positioner-data[data-starting-style] {
        --tw-scale-x: 90%;
        --tw-scale-y: 90%;
        --tw-scale-z: 90%;
        scale: var(--tw-scale-x) var(--tw-scale-y);
        opacity: 0%;
    }
    .navigation-menu-positioner-relative {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .navigation-menu-link {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 1.5);
        border-radius: calc(var(--radius) * 0.8);
        padding: calc(var(--spacing) * 2);
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        transition-property: all;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
        --tw-outline-style: none;
        outline-style: none;
    }
    .navigation-menu-link:focus {
        background-color: var(--muted);
    }
    .navigation-menu-link:focus-visible {
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        --tw-ring-color: var(--ring);
        outline-style: var(--tw-outline-style);
        outline-width: 1px;
    }
    @supports (color: color-mix(in lab, red, red)) {
        .navigation-menu-link:focus-visible {
            --tw-ring-color: color-mix(in oklab, var(--ring) 50%, transparent);
        }
    }
    :where(*[data-slot="navigation-menu-content"]) .navigation-menu-link {
        border-radius: calc(var(--radius) * 0.6);
    }
    .navigation-menu-link[data-active="true"] {
        background-color: var(--muted);
    }
    @supports (color: color-mix(in lab, red, red)) {
        .navigation-menu-link[data-active="true"] {
            background-color: color-mix(in oklab, var(--muted) 50%, transparent)
        }
    }
    .navigation-menu-link[data-active="true"]:focus {
        background-color: var(--muted);
    }
    .navigation-menu-link svg:not([class*='size-']) {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
    }
    .navigation-menu-indicator-top {
        top: 100%;
        z-index: 1;
        display: flex;
        height: calc(var(--spacing) * 1.5);
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
    }
    .navigation-menu-indicator-top[data-state="hidden"] {
        animation: exit var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
        --tw-exit-opacity: 0;
    }
    .navigation-menu-indicator-top[data-state="visible"] {
        animation: enter var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
        --tw-enter-opacity: 0;
    }
    .navigation-menu-indicator-relative {
        position: relative;
        top: 60%;
        height: calc(var(--spacing) * 2);
        width: calc(var(--spacing) * 2);
        rotate: 45deg;
        border-top-left-radius: calc(var(--radius) * 0.6);
        background-color: var(--border);
        --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
}