.pagination {
    margin-inline: auto;
    display: flex;
    width: 100%;
    justify-content: center;
}
.pagination-content {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 1);
}
.pagination-previous-pl {
    padding-left: calc(var(--spacing) * 2) !important;
}
.pagination-previous-hidden {
    display: none;
}
@media (width >= 40rem) {
    .pagination-previous-hidden {
        display: block
    }
    .pagination-next-hidden {
        display: block
    }
}
.pagination-next-pr {
    padding-right: calc(var(--spacing) * 2) !important;
}
.pagination-next-hidden {
    display: none;
}
.pagination-ellipsis-flex {
    display: flex;
    width: calc(var(--spacing) * 9);
    height: calc(var(--spacing) * 9);
    align-items: center;
    justify-content: center;
}
.pagination-ellipsis-flex svg:not([class*='size-']) {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
}
.pagination-ellipsis-sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border-width: 0;
}