@layer theme, base, components, utilities;
@layer components {
    .popover-content-isolate {
        isolation: isolate;
        z-index: 50;
    }
    .popover-content-z {
        z-index: 50;
        display: flex;
        width: calc(var(--spacing) * 72);
        transform-origin: var(--transform-origin);
        flex-direction: column;
        gap: calc(var(--spacing) * 4);
        border-radius: calc(var(--radius) * 0.8);
        background-color: var(--popover);
        padding: calc(var(--spacing) * 4);
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        color: var(--popover-foreground);
        --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        --tw-ring-color: var(--foreground);
        --tw-outline-style: none;
        outline-style: none;
        --tw-duration: 100ms;
        transition-duration: 100ms;
    }
    @supports (color: color-mix(in lab, red, red)) {
        .popover-content-z {
            --tw-ring-color: color-mix(in oklab, var(--foreground) 10%, transparent)
        }
    }
    @media (forced-colors: active) {
        .popover-content-z {
            outline: 2px solid transparent;
            outline-offset: 2px
        }
    }
    .popover-content-z[data-side="bottom"] {
        --tw-enter-translate-y: calc(2*var(--spacing)*-1);
    }
    .popover-content-z[data-side="inline-end"] {
        --tw-enter-translate-x: calc(2*var(--spacing)*-1);
    }
    .popover-content-z[data-side="inline-start"] {
        --tw-enter-translate-x: calc(2*var(--spacing));
    }
    .popover-content-z[data-side="left"] {
        --tw-enter-translate-x: calc(2*var(--spacing));
    }
    .popover-content-z[data-side="right"] {
        --tw-enter-translate-x: calc(2*var(--spacing)*-1);
    }
    .popover-content-z[data-side="top"] {
        --tw-enter-translate-y: calc(2*var(--spacing));
    }
    .popover-content-z:where([data-state="open"]), .popover-content-z:where([data-open]:not([data-open="false"])) {
        animation: enter var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
        --tw-enter-opacity: calc(0/100);
        --tw-enter-opacity: 0;
        --tw-enter-scale: calc(95*1%);
        --tw-enter-scale: .95;
    }
    .popover-content-z:where([data-state="closed"]), .popover-content-z:where([data-closed]:not([data-closed="false"])) {
        animation: exit var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
        --tw-exit-opacity: calc(0/100);
        --tw-exit-opacity: 0;
        --tw-exit-scale: calc(95*1%);
        --tw-exit-scale: .95;
    }
    .popover-header {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 1);
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
    }
    .popover-title {
        --tw-font-weight: var(--font-weight-medium);
        font-weight: var(--font-weight-medium);
    }
    .popover-description {
        color: var(--muted-foreground);
    }
}