.progress {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing) * 3);
}
.progress-track {
    position: relative;
    display: flex;
    height: calc(var(--spacing) * 1.5);
    width: 100%;
    align-items: center;
    overflow-x: hidden;
    border-radius: calc(infinity * 1px);
    background-color: var(--muted);
}
.progress-indicator {
    height: 100%;
    background-color: var(--primary);
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
}
.progress-label {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
}
.progress-value {
    margin-left: auto;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    color: var(--muted-foreground);
    --tw-numeric-spacing: tabular-nums;
    font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,) var(--tw-numeric-figure,) var(--tw-numeric-spacing,) var(--tw-numeric-fraction,);
}