.resizable-panel-group {
    display: flex;
    height: 100%;
    width: 100%;
}
.resizable-panel-group[aria-orientation="vertical"] {
    flex-direction: column;
}
.resizable-handle-relative {
    position: relative;
    display: flex;
    width: 1px;
    align-items: center;
    justify-content: center;
    background-color: var(--border);
    --tw-ring-offset-color: var(--background);
}
.resizable-handle-relative::after {
    content: var(--tw-content);
    position: absolute;
    inset-block: calc(var(--spacing) * 0);
    left: calc(1 / 2 * 100%);
    width: calc(var(--spacing) * 1);
    --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
}
.resizable-handle-relative:focus-visible {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-color: var(--ring);
    --tw-outline-style: none;
    outline-style: none;
}
@media (forced-colors: active) {
    .resizable-handle-relative:focus-visible {
        outline: 2px solid transparent;
        outline-offset: 2px
    }
}
.resizable-handle-relative[aria-orientation="horizontal"] {
    height: 1px;
    width: 100%;
}
.resizable-handle-relative[aria-orientation="horizontal"]::after {
    content: var(--tw-content);
    left: calc(var(--spacing) * 0);
    height: calc(var(--spacing) * 1);
    width: 100%;
    --tw-translate-x: calc(var(--spacing) * 0);
    translate: var(--tw-translate-x) var(--tw-translate-y);
    --tw-translate-y: calc(calc(1 / 2 * 100%) * -1);
}
.resizable-handle-relative[aria-orientation=horizontal]>div {
    rotate: 90deg;
}
.resizable-handle-z {
    z-index: 10;
    display: flex;
    height: calc(var(--spacing) * 6);
    width: calc(var(--spacing) * 1);
    flex-shrink: 0;
    border-radius: var(--radius);
    background-color: var(--border);
}