@layer theme, base, components, utilities;
@layer components {
    .select-group {
        scroll-margin-block: calc(var(--spacing) * 1);
        padding: calc(var(--spacing) * 1);
    }
    .select-value {
        display: flex;
        flex: 1;
        text-align: left;
    }
    .select-trigger-flex {
        display: flex;
        width: fit-content;
        align-items: center;
        justify-content: space-between;
        gap: calc(var(--spacing) * 1.5);
        border-radius: calc(var(--radius) * 0.8);
        border-style: var(--tw-border-style);
        border-width: 1px;
        border-color: var(--input);
        background-color: transparent;
        padding-block: calc(var(--spacing) * 2);
        padding-right: calc(var(--spacing) * 2);
        padding-left: calc(var(--spacing) * 2.5);
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        white-space: nowrap;
        --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.05));
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        transition-property: color,box-shadow;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
        --tw-outline-style: none;
        outline-style: none;
    }
    .select-trigger-flex:focus-visible {
        border-color: var(--ring);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        --tw-ring-color: var(--ring);
    }
    @supports (color: color-mix(in lab, red, red)) {
        .select-trigger-flex:focus-visible {
            --tw-ring-color: color-mix(in oklab, var(--ring) 50%, transparent)
        }
    }
    .select-trigger-flex:disabled {
        cursor: not-allowed;
        opacity: 50%;
    }
    .select-trigger-flex[aria-invalid="true"] {
        border-color: var(--destructive);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        --tw-ring-color: var(--destructive);
    }
    @supports (color: color-mix(in lab, red, red)) {
        .select-trigger-flex[aria-invalid="true"] {
            --tw-ring-color: color-mix(in oklab, var(--destructive) 20%, transparent)
        }
    }
    .select-trigger-flex[data-placeholder] {
        color: var(--muted-foreground);
    }
    .select-trigger-flex[data-size="default"] {
        height: calc(var(--spacing) * 9);
    }
    .select-trigger-flex[data-size="sm"] {
        height: calc(var(--spacing) * 8);
    }
    :is(.select-trigger-flex > *)[data-slot="select-value"] {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 1.5);
    }
    .select-trigger-flex:is(:global(.dark) *) {
        background-color: var(--input);
    }
    @supports (color: color-mix(in lab, red, red)) {
        .select-trigger-flex:is(:global(.dark) *) {
            background-color: color-mix(in oklab, var(--input) 30%, transparent)
        }
    }
    @media (hover: hover) {
        .select-trigger-flex:is(:global(.dark) *):hover {
            background-color: var(--input)
        }
        @supports (color: color-mix(in lab, red, red)) {
            .select-trigger-flex:is(:global(.dark) *):hover {
                background-color: color-mix(in oklab, var(--input) 50%, transparent)
            }
        }
    }
    .select-trigger-flex:is(:global(.dark) *)[aria-invalid="true"] {
        border-color: var(--destructive);
        --tw-ring-color: var(--destructive);
    }
    @supports (color: color-mix(in lab, red, red)) {
        .select-trigger-flex:is(:global(.dark) *)[aria-invalid="true"] {
            border-color: color-mix(in oklab, var(--destructive) 50%, transparent);
            --tw-ring-color: color-mix(in oklab, var(--destructive) 40%, transparent)
        }
    }
    .select-trigger-flex svg {
        pointer-events: none;
        flex-shrink: 0;
    }
    .select-trigger-flex svg:not([class*='size-']) {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
    }
    .select-trigger-pointer {
        pointer-events: none;
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
        color: var(--muted-foreground);
    }
    .select-content-isolate {
        isolation: isolate;
        z-index: 50;
    }
    .select-content-relative {
        position: relative;
        isolation: isolate;
        z-index: 50;
        max-height: var(--available-height);
        width: var(--anchor-width);
        min-width: calc(var(--spacing) * 36);
        transform-origin: var(--transform-origin);
        overflow-x: hidden;
        overflow-y: auto;
        border-radius: calc(var(--radius) * 0.8);
        background-color: var(--popover);
        color: var(--popover-foreground);
        --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        --tw-ring-color: var(--foreground);
        --tw-duration: 100ms;
        transition-duration: 100ms;
    }
    @supports (color: color-mix(in lab, red, red)) {
        .select-content-relative {
            --tw-ring-color: color-mix(in oklab, var(--foreground) 10%, transparent)
        }
    }
    .select-content-relative[data-align-trigger="true"] {
        animation: none;
    }
    .select-content-relative[data-side="bottom"] {
        --tw-enter-translate-y: calc(2*var(--spacing)*-1);
    }
    .select-content-relative[data-side="inline-end"] {
        --tw-enter-translate-x: calc(2*var(--spacing)*-1);
    }
    .select-content-relative[data-side="inline-start"] {
        --tw-enter-translate-x: calc(2*var(--spacing));
    }
    .select-content-relative[data-side="left"] {
        --tw-enter-translate-x: calc(2*var(--spacing));
    }
    .select-content-relative[data-side="right"] {
        --tw-enter-translate-x: calc(2*var(--spacing)*-1);
    }
    .select-content-relative[data-side="top"] {
        --tw-enter-translate-y: calc(2*var(--spacing));
    }
    .select-content-relative:where([data-state="open"]), .select-content-relative:where([data-open]:not([data-open="false"])) {
        animation: enter var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
        --tw-enter-opacity: calc(0/100);
        --tw-enter-opacity: 0;
        --tw-enter-scale: calc(95*1%);
        --tw-enter-scale: .95;
    }
    .select-content-relative:where([data-state="closed"]), .select-content-relative:where([data-closed]:not([data-closed="false"])) {
        animation: exit var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
        --tw-exit-opacity: calc(0/100);
        --tw-exit-opacity: 0;
        --tw-exit-scale: calc(95*1%);
        --tw-exit-scale: .95;
    }
    .select-label {
        padding-inline: calc(var(--spacing) * 2);
        padding-block: calc(var(--spacing) * 1.5);
        font-size: var(--text-xs);
        line-height: var(--tw-leading, var(--text-xs--line-height));
        color: var(--muted-foreground);
    }
    .select-item-relative {
        position: relative;
        display: flex;
        width: 100%;
        cursor: default;
        align-items: center;
        gap: calc(var(--spacing) * 2);
        border-radius: calc(var(--radius) * 0.6);
        padding-block: calc(var(--spacing) * 1.5);
        padding-right: calc(var(--spacing) * 8);
        padding-left: calc(var(--spacing) * 2);
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        --tw-outline-style: none;
        outline-style: none;
        -webkit-user-select: none;
        user-select: none;
    }
    @media (forced-colors: active) {
        .select-item-relative {
            outline: 2px solid transparent;
            outline-offset: 2px
        }
    }
    .select-item-relative:focus {
        background-color: var(--accent);
        color: var(--accent-foreground);
    }
    :is(.select-item-relative:not(*[data-variant="destructive"]):focus *) {
        color: var(--accent-foreground);
    }
    .select-item-relative:where([data-disabled="true"]), .select-item-relative:where([data-disabled]:not([data-disabled="false"])) {
        pointer-events: none;
        opacity: 50%;
    }
    .select-item-relative svg {
        pointer-events: none;
        flex-shrink: 0;
    }
    .select-item-relative svg:not([class*='size-']) {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
    }
    :is(.select-item-relative > *):is(span):last-child {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 2);
    }
    .select-item-flex {
        display: flex;
        flex: 1;
        flex-shrink: 0;
        gap: calc(var(--spacing) * 2);
        white-space: nowrap;
    }
    .select-item-pointer {
        pointer-events: none;
        position: absolute;
        right: calc(var(--spacing) * 2);
        display: flex;
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
        align-items: center;
        justify-content: center;
    }
    .select-item-pointer-events {
        pointer-events: none;
    }
    .select-separator {
        pointer-events: none;
        margin-inline: calc(var(--spacing) * -1);
        margin-block: calc(var(--spacing) * 1);
        height: 1px;
        background-color: var(--border);
    }
    .select-scroll-up-button {
        top: calc(var(--spacing) * 0);
        z-index: 10;
        display: flex;
        width: 100%;
        cursor: default;
        align-items: center;
        justify-content: center;
        background-color: var(--popover);
        padding-block: calc(var(--spacing) * 1);
    }
    .select-scroll-up-button svg:not([class*='size-']) {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
    }
    .select-scroll-down-button {
        bottom: calc(var(--spacing) * 0);
        z-index: 10;
        display: flex;
        width: 100%;
        cursor: default;
        align-items: center;
        justify-content: center;
        background-color: var(--popover);
        padding-block: calc(var(--spacing) * 1);
    }
    .select-scroll-down-button svg:not([class*='size-']) {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
    }
}