@layer properties, theme, base, components, utilities;
@layer components {
    .spinner {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
        animation: var(--animate-spin);
    }
}