@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/inter";

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
